@import "../../vars.scss";
.home {
  padding: 20px;
}

.carouselHome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  .carouselImgContainHome {
    height: 180px;
  }
}

.maps {
  display: flex;
  align-items: center;
  gap: 10px;
  .icon {
    color: $yellow;
    font-size: 20px;
  }
  .mapsTxt {
    .p1 {
      color: $yellow;
      font-size: 11px;
    }
  }
}

.productsContain {
  padding: 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  h2 {
    font-weight: 500;
    font-size: 15px;
  }

  img {
    height: 120px;
  }

  .beforeYou {
    font-weight: 100;
    color: $gray;
  }

  span {
    color: black;
  }
}

@media (min-width: 992px) {
  .productsContain {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .product {
    align-items: center;
  }
}
